[Unit]
Description=Sausage-store

[Service]
User=jarservice
Environment=REPORT_PATH=/var/sausage-store/reports
Environment=LOG_PATH=/var/sausage-store/logs
Restart=always
ExecStart=/usr/bin/java \
-Dmyserver.basePath='/opt/sausage-store/backend/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/opt/sausage-store/backend/backend.jar'
SuccessExitStatus=143

StandardOutput=append:/opt/log/sausage-store-backend.log
StandardError=append:/opt/log/sausage-store-backend.log

[Install]
WantedBy=multi-user.target